.TipoComponente {
  display: block;
  margin-left: auto;
  margin-right: auto;
  background: #5babc5;
  color: white;
  background-position: 0px;
  text-align: center;
  font-family: Bodoni MT, Bodoni 72, Didot, Didot LT STD, Hoefler Text, Garamond,
    Times New Roman, serif;
  border-radius: 5px;
}

.Componente {
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-position: 0px;
  text-align: center;
  font-family: Bodoni MT, Bodoni 72, Didot, Didot LT STD, Hoefler Text, Garamond,
    Times New Roman, serif;
}
.rodapé {
  position: absolute;
  bottom: 0;
  left: 0;
  background: coral;
}

.card-list {
  max-height: 100px;
  min-height: 100px;
  overflow-y: auto;
}

.alertas {
  box-shadow: 2px 2px 14px gray;
  text-align: center;
  width: 50em;
}

.card-deck {
  margin: 0 !important;
  padding-bottom: 10em;
}
