form label{
    color: #3c8dbc;
}

.local-btn{
    display: flex;
    justify-content: right;
}

.help-block{
    color: red;
    margin-bottom: 0;
}

.error-input,
.error-input:focus{
    border-color: red;
}

textarea{
    resize: vertical;
}

.items .btn{
    background-color: transparent;
    border: none;
    color: #00ACD6;
    font-size: 16px;
}