.box-home{
    border-top: none;
}

.box-dcp{
    margin-bottom: 0;
    min-width: 200px;
}

.box-dcp .box-header{
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-dcp .box-body{
    max-height: 200px;
    overflow-y: auto;
    color: gray;
    overflow-wrap: break-word;
}

.box-body .center-content{
    text-align: center;
}