.local-dcp{
    background-color: rgb(212, 209, 209);
    display: grid;
    grid-template-areas: 
    "codigo nome fronteira fronteira cadeia-valor proprietario"
    "objetivo objetivo objetivo objetivo objetivo gestores"
    "entradas entradas etapas etapas saidas saidas"
    "entradas entradas etapas etapas saidas saidas"
    "ferramentas ferramentas clientes clientes direcionadores direcionadores"
    "ferramentas ferramentas clientes clientes direcionadores direcionadores"
    ;
    grid-template-rows: repeat(6, minmax(120px, auto));
}

.local-dcp .shadow{
    background-color: black;
}

.codigo{
    grid-area: codigo;
}

.nome{
    grid-area: nome;
}

.fronteira{
    grid-area: fronteira;
}

.cadeia-valor{
    grid-area: cadeia-valor;
}

.proprietario{
    grid-area: proprietario;
}

.objetivo{
    grid-area: objetivo;
}

.gestores{
    grid-area: gestores;
}

.entradas{
    grid-area: entradas;
}

.etapas{
    grid-area: etapas;
}

.saidas{
    grid-area: saidas;
}

.clientes{
    grid-area: clientes;
}

.ferramentas{
    grid-area: ferramentas;
}

.areas{
    grid-area: areas;
}

.processos-relacionados{
    grid-area: processos-relacionados;
}

.direcionadores{
    grid-area: direcionadores;
}

.indicadores{
    grid-area: indicadores;
}

.list-info ul{
    padding-left:0;
    list-style: none;
    overflow-wrap: break-word;
}

.list-info ul li{
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-top: 5px;
    padding-bottom: 5px;
}

