.multiselect{
    overflow-x: auto!important;
}

.div-multiselect{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.items{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(231, 227, 227, 0.308);
    color: black;
    border-bottom: 1px solid #00bfef81;
    padding: 3px;
    margin-top: 5px;
    margin-bottom: 5px;
    overflow-x: auto;
}

.local-items{
    margin-top: 5px;
    overflow-y:auto;
    overflow-x: auto;
    max-height: 100px;
    min-height: 100px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}
